.button1{
    background-color: rgb(0, 0, 148);
    color: white;
    transition: 0.3s ease;
    font-weight: 600;
}

.button1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 148);
    border: 1px solid rgb(0, 0, 148);
}

a:hover{
    color: black !important;
}
a{
    transition: 0.3s ease;

}